.card_container {
    height: 386px;
    width: 286px;
    box-shadow: 0px 4px 8px 0px hsla(0, 0%, 64%, 0.08);
    background: hsla(0, 0%, 100%, 1);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    -webkit-animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bck 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  .card_container:hover {
    transition: all 0.2s ease-in;
    transform: scale(1.12);
  }

  .img_mobile {
    height: 210px;
    width: 189px;
    margin-top: 30px;
    margin-left: 45px;
  }
  .product_info {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 190px;
    text-align: left;
    color: hsla(0, 0%, 20%, 1);
  }
.product_info_con{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.product_price{
    text-align: left;
    margin-left: 40px;
    display: flex;
    gap: 10px;
}
.product_link_style{
  text-decoration: none;
}
.ty{
  width: 100px;
  height: 100px;
  color: red;
}
@-webkit-keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-bck {
  0% {
    -webkit-transform: translateZ(80px);
            transform: translateZ(80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
