.header_first_section_container {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  align-items: center;
}

.header_container {
  width: 100%;
  height: 130px;
  border-bottom: 1px solid hsla(144, 64%, 50%, 1);
}

.logo {
  height: 70px;
  width: 154px;
  cursor: pointer;
}

.search_input_container {
  background: linear-gradient(0deg, #e0e0e0, #e0e0e0),
    linear-gradient(0deg, #f2f2f2, #f2f2f2);
  border-radius: 8px;
  height: 40px;
  width: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}
.input_products_filter {
height: auto;
position: absolute;
padding-left: 10px;
padding-top: 10px;
z-index: 10;
  width: 620px;
}
.results_section{
  display: flex;
justify-content: space-between;
}
.search_icon {
  color: hsla(0, 0%, 51%, 1);
  height: 13px;
  width: 13px;
}
.icon_link_style path {
  fill: hsla(0, 0%, 20%, 1);
}
.search_input {
  height: 36px;
  width: 591px;
  background: linear-gradient(0deg, #e0e0e0, #e0e0e0),
    linear-gradient(0deg, #f2f2f2, #f2f2f2);
  border-radius: 8px;
  outline: none;
  border: none;
}

.user_favorite_shop_icons_section {
  display: flex;
  gap: 15px;
}

.shopping_circle_container {
  display: flex;
  gap: 2px;
}

.icon {
  height: 17px;
  width: 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(22, 22, 22);
}

.icon:hover {
  transform: translateY(-3px);
  box-shadow: inset 0px 10px 20px 2px rgb(222, 209, 209);
  transition: all 300ms ease;
  border-radius: 50%;
}

.circle {
  background: rgb(255, 2, 2);
  height: 19px;
  width: 20px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  cursor: default;
}
.products_container {
  width: 900px;
  margin-left: 90px;
  margin-top: 20px;
}
.products {
  display: flex;
  justify-content: space-between;
}
.products_name {
  text-decoration: none;
  color: hsla(0, 0%, 20%, 1);
}
.category_name {
  cursor: pointer;
}
.products_name:focus {
  color: red;
}
.active {
  background-color: rgb(255, 255, 255);
  width: 94.7%;
  height: 300px;
  z-index: 2;
  visibility: visible;
  position: absolute;
  padding: 50px;
  margin-top: 20px;
  margin-left: 0px;
  display: flex;
}

.category_container {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-left: 80px;
  margin-top: 20px;
}
.category_name:hover {
  color: red;
  text-decoration: underline;
}
.subcategory_section {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.category_name {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.inactive {
  display: none;
}
.mobile_hamburger {
  display: none;
}
.search_image_product{
width: 70px;
height: 70px;
}
.pro_container{
  display: flex;
  background-color: white;
  padding: 20px;
}
.name_and_price{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.products_search_filter_active{
display: block;
}
.products_search_filter_inactive{
  display: none;
}
.cart_link{
  text-decoration: none;
}
@media only screen and (max-width: 390px) {
  .header_container {
    height: 130px;
    width: 380px;
    border-bottom: 1px solid hsla(144, 64%, 50%, 1);
  }
  .icon:hover {
    transform: translateY(-3px);
    box-shadow: inset 0px 0px 0px 0px;
    transition: all 300ms ease;
  }
  .circle {
    margin-left: -10px;
  }
  .icon {
    height: 35px;
    width: 25px;
    cursor: pointer;
  }
  .menu {
    cursor: pointer;
    position: absolute;
    margin-top: -5px;
    margin-left: 10px;
    width: 25px;
    height: 15px;
  }
  .user_favorite_shop_icons_section {
    margin-left: -100px;
    margin-top: -30px;
  }

  .logo {
    margin-left: 50px;
    margin-top: -30px;
  }
  .header_first_section_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    width: 200px;
  }

  .search_input {
    height: 36px;
    width: 288px;
    background: linear-gradient(0deg, #e0e0e0, #e0e0e0),
      linear-gradient(0deg, #f2f2f2, #f2f2f2);
    border-radius: 8px;
    outline: none;
    border: none;
  }

  .products_container {
    display: none;
  }

  .search_input_container {
    background: linear-gradient(0deg, #e0e0e0, #e0e0e0),
      linear-gradient(0deg, #f2f2f2, #f2f2f2);
    border-radius: 8px;
    height: 40px;
    width: 298px;
    margin-top: 80px;
    margin-left: -170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
  }
  .search_icon {
    color: hsla(0, 0%, 51%, 1);
    height: 20px;
    width: 20px;
  }
  .bread_container {
    margin-left: 20px;
  }
  .mobile_hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
  }
  .hamburger_logo {
    width: 25px;
    height: 25px;
  }
  .category_container {
    display: none;
  }
  .input_products_filter {
    height: auto;
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    z-index: 10;
margin-left: -200px;
      width: 340px;
   
    }

}
