.sponsors {
  height: 80px;
  width: 276px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.footer_slider{
  padding-right: 50px;
}
.sponsors > img {
  height: 56px;
  width: 128px;
  margin-top: 10px;
}
.sponsor_container {
  margin-top: 50px;
}

.footer_slider_container {
  height: 216px;
  width: 100%;
  background: hsla(240, 11%, 96%, 1);
  margin-top: 60px;

  padding-left: 50px;
}
@media only screen and (max-width: 390px) {
  .footer_slider_container{
    display: none;
  }
}